@import 'styles/theme';

.wrapper {
  padding: 150px 50px;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 100px auto 0 auto;
  max-width: 1200px;
}

.button {
  width: 30%;
  transition: 0.3s;
  text-decoration: none;
  font-size: 22px;

  &:hover {
    transform: scale(1.1);
  }

  img {
    width: 100%;
  }
}

.label {
  text-align: center;
  color: white;
}
