{
  "env": {
    "browser": true,
    "es2021": true
  },
  "parserOptions": {
    "ecmaVersion": 2021,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "globals": {
    "process": true,
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "parser": "babel-eslint",
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "plugins": ["react", "prettier"],
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"],
        "moduleDirectory": ["node_modules", "src/"]
      }
    },
    "import/extensions": [".js", ".jsx", ".ts", ".tsx"]
  },
  "rules": {
    "prettier/prettier": "warn",
    "import/no-extraneous-dependencies": 0,
    "react/jsx-wrap-multilines": 0,
    "no-confusing-arrow": 0,
    "react/jsx-one-expression-per-line": 0,
    "import/prefer-default-export": 0,
    "react/jsx-props-no-spreading": "off",
    "react/jsx-filename-extension": "off",
    "react/prop-types": "off",
    "jsx-quotes": [2, "prefer-single"],
    "arrow-parens": [2, "as-needed"],
    "object-curly-newline": [0, { "multiline": true }],
    "no-unused-vars": "warn",
    "implicit-arrow-linebreak": 0,
    "no-console": "warn",
    "no-restricted-syntax": [
      1,
      {
        "selector": "CallExpression[callee.object.name='console'][callee.property.name!=/^(log|warn|error|info|trace)$/]",
        "message": "Unexpected property on console object was called"
      }
    ]
  }
}
