$primary: #fff;
$Light-shades: #d7dbd4;
$main-brand-color: #819496;
$dark-shades: #ef813a;
$dark-accent: #46949c;
$M1-Dark-g: #333332;
$M2-dark-2: #1f1f1f;
$light-accent: #c02d67;
$gradient: linear-gradient(
    180deg,
    #ccc393 18.41%,
    rgba(209, 177, 167, 0) 119.63%
  ),
  #d1b1a7;
