@import 'styles/theme';

.wrapper {
    width: 50%;
    text-align: center;
    margin: 50px;
    color: white;
}

.desc {
    width: 40%;
    margin: auto;
    margin-bottom: 10px;
}

.data {
    font-weight: bold;
}

img {
    margin-top: 50px;
}