@import 'styles/theme';

.wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: $primary-text;
  margin: 70px 0;
}

.image {
  border-radius: 50%;
  overflow: hidden;
  width: 150px;
  height: 150px;
}

.desc {
  flex-grow: 1;
  padding: 0 40px;

  h2 {
    margin: 0;
    font-size: 22px;
    line-height: 27px;
  }
}

.elements {
  display: flex;

  span {
    font-weight: 300;
    font-size: 22px;
    line-height: 27px;
    padding-right: 3px;
  }
}
