@import 'styles/theme';

.wrapper {
  min-height: 100vh;
  background: $gradient;
  width: 100%;
}

.topImage {
  margin-top: -54%;
  text-align: center;
  padding-top: 64%;
  height: 1300px;
  width: 100%;
  background-image: url('../../assets/img/czerwone-okregi.png');
  background-repeat: no-repeat;
  background-size: contain;
  :before {
    transform: rotate(-180deg);
  }
  h1 {
    margin: 0 auto;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 60px;
    color: #ffffff;
  }
  p {
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 27px;
    text-align: center;
    color: #ffffff;
    width: 50%;
    margin: 50px auto;
  }
  button {
    border: none;
    padding: 8px 16px;
    background: #bf2c66;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 27px;
    text-align: center;
    color: #ffffff;
    width: 360px;
    height: 44px;
    margin-top: 50px;
    cursor: unset;
  }
}

.secondContainer {
  color: #ffffff;
  height: 715px;
  padding: 50px;
  h1 {
    font-family: Quicksand;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 60px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  p {
    width: 65%;
  }
  div:first-child {
    width: 40%;
    float: left;
    background-image: url('https://res.cloudinary.com/dgm1ulzgm/image/upload/v1622368370/MEditate/step1_ndxjfw.png');
    background-repeat: no-repeat;
    background-size: cover;
    transform: rotate(-1.41deg);
    height: 300px;
  }
  div:nth-child(2) {
    width: 50%;
    float: left;
    padding: 40px;
    button {
      border: none;
      padding: 8px 16px;
      background: #819496;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 2px;
      font-style: normal;
      font-weight: normal;
      font-size: 22px;
      line-height: 27px;
      text-align: center;
      color: #ffffff;
      width: 345px;
      height: 44px;
      margin-top: 50px;
      margin-bottom: 20px;
      cursor: unset;
    }
  }
  div:nth-child(3) {
    width: 100%;
  }
  div:nth-child(4) {
    background-image: url('https://res.cloudinary.com/dgm1ulzgm/image/upload/v1622368583/MEditate/Vector4_hjlrp2.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 190px;
    width: 150px;
    margin-right: 40%;
    float: right;
  }
}

.thirdContainer {
  height: 706px;
  div:first-child {
    height: 600px;
    width: 50%;
    float: left;
  }
  div:nth-child(2) {
    height: 600px;
    width: 50%;
    float: left;
    background-image: url('https://res.cloudinary.com/dgm1ulzgm/image/upload/v1622368370/MEditate/step1_ndxjfw.png');
    background-repeat: no-repeat;
    background-size: cover;
  }
  div:nth-child(3) {
    background-image: url('https://res.cloudinary.com/dgm1ulzgm/image/upload/v1622368583/MEditate/Vector4_hjlrp2.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 190px;
    width: 150px;
  }
}
