.wrapper {
  // position: relative;
  height: calc(100vh - 80px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  overflow: hidden;

  audio::-webkit-media-controls-mute-button {
    display: none !important;
  }
  audio::-webkit-media-controls-volume-slider {
    display: none !important;
  }
}

.buttonBackWrapper {
  transform: rotate(-180deg);
  position: absolute;
  top: 40px;
  left: 50px;
}

.img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  overflow: hidden;

  img {
    min-height: 100vh;
    min-width: 100vw;
  }
}
