@import 'styles/theme';

*,
*:before,
*:after {
  box-sizing: border-box;
}

*:before,
*:after {
  content: '';
  display: block;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Quicksand', sans-serif;
}

//material-ui styles
.MuiStepIcon-root {
  color: #c4c4c4 !important;
}

.MuiStepIcon-root.MuiStepIcon-completed,
.MuiStepIcon-root.MuiStepIcon-active {
  color: $dark-accent !important;
}
