@import 'styles/theme';

.wrapper {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;

  padding: 15vh 5vw;
}

.stepLabel {
  color: $primary;
}

.tailsWrapper {
  padding: 100px 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.singleTail {
  background-color: none;
  border: none;
  border-radius: 30px;
  background-color: $light-accent;
  color: $primary;
  padding: 20px 50px;
  font-size: 16px;
  transition: 0.2s;
  cursor: pointer;
  border: 7px solid transparent;

  display: flex;
  align-items: center;

  &.checked {
    background-color: $main-brand-color;
  }

  svg {
    margin-right: 20px;
  }

  &:hover {
    background-color: $dark-accent;
  }
}

.buttonBackWrapper {
  transform: rotate(-180deg);
  position: absolute;
  left: 70px;
  top: 50px;
}

.buttonNextWrapper {
  text-align: center;
}
